# Git
.git
.gitignore

# Node / Frontend
**/node_modules
**/.next
**/out
**/.turbo
**/*.tsbuildinfo

# Backend
backend/

# Local Environment
.env.local
.env.*.local
! .env
! .env.example

# Database dumps
*.sql

# Logs
*.log
npm-debug.log*

# IDEs
.vscode/
.idea/
.DS_Store
